

  .city-button, .search-button {
    margin: 5px;
    padding: 5px;
    border: 1px;
    border-radius: 0.2rem;
    width: 100%;
  } 

 .weather-cards{
    display: flex;
    justify-content: space-around;
 }

 .today{
    border: 1px dashed;
    background-color: beige;
 }

 .weather-hr{
   display: block;
   width: 100%;
 }

 .form-input{
   margin-bottom: 1rem;
   width: 100%;
 }

 