
  .city-button, .search-button {
    margin: 5px;
    padding: 5px;
    border: 1px;
    border-radius: 0.2rem;
    width: 100%;
  } 

 .weather-cards{
    display: flex;
    justify-content: space-around;
 }

 .today{
    border: 2px dashed;
    margin-bottom: 2rem;
    background-color: #c5d5c5;
 }

 .weather-hr{
   display: block;
   width: 100%;
 }

 .form-input{
   margin-top: 0.5rem;
   margin-bottom: 1rem;
   width: 100%;
 }

 .card-body{
   background-color: #9fa9a3;
   border: 2px dashed;
 }

 .center{
   text-align: center;
 }
 
   
