

  .city-button {
    display: block;
    margin: 5px;
    padding: 5px;
    border: 1px;
  } 

 .weather-cards{
    display: flex;
    justify-content: space-around;
 }

 .today{
    border: 1px dashed;
    background-color: beige;
 }